# Class-01
## Data Types
### String:
Anything in single quotes ('I am a string') or double quotes("I am also a string") is a string data type of python.

In [2]:
'I am a string'

'I am a string'

In [3]:
"I am also a string"

'I am also a string'

### Print function in Python
Functions are a piece of code which performs a single task. For example, to print or show the output on to screen for a code written in python, we have to write code in python. Printing / showing output on screen is very common in python. So rather than writing code each time, for this simple task, Python has provided a function. Each time we need it, we call it rather than writing whole code again and again. Since python provided it, we call it builtin function. In upcoming classes, we shall dive deep into functions and will create our own custom functions.

In [ ]:
# builtin function of python
print("hello world")

hello world

In [5]:
print("Rehan")
print("Rehan")
print("Rehan")
print("Rehan")
print("Rehan")
print("Rehan")
print("Rehan")
print("Rehan")
print("Rehan")
print("Rehan")
print("Rehan")

Rehan
Rehan
Rehan
Rehan
Rehan
Rehan
Rehan
Rehan
Rehan
Rehan
Rehan

What if we want to change the name? Yet we use it on around 10 places /lines. If we had code of couple thousands of line and the name  was being used in that, you can imagine that how much it would be difficult to handle such problem.
Here we shall use `variables`.

In [ ]:
# Use variable 'my_name' and store a value 'Usman' in it.
# If we want to change the name, we have to change it on single place.

my_name = "Usman"

print(my_name)
print(my_name)
print(my_name)
print(my_name)
print(my_name)
print(my_name)
print(my_name)
print(my_name)
print(my_name)
print(my_name)

Rehan
Rehan
Rehan
Rehan
Rehan
Rehan
Rehan
Rehan
Rehan
Rehan

`DRY` Principle  --> Don't Repeat Yourself

### Assigning types to variables
We can assign data types to variables. In simple worlds, assigning data types is like adding a label to variable which will tell the code editor that what kind of data types should be assigned in a particular variable.
Let's see what benefits we shall get by assigning data types.

In [ ]:
my_name : str = 'Rehan'

We assigned `str` data type to `my_name` variable. It will give us following benefits.
1. When used in code editor, the linting tools will give us error if at some point we try to assign any data to variable other than `string` data type.

2. When some other developer sees the code, he will understand that this variable will always take `string` type value.

3. During development (writing code), we added a type safety layer.

Intellicense

### Re-assigning values to variables

In [ ]:
student_name = "Musa Abdullah"
quarter = "q1"
student_email = "musa@example.com"

In [ ]:
student_name = "Rehan"

In [ ]:
print(student_name)

print(student_email)

print(student_email)

In [ ]:
my_name = "Rehan Usman"
print(my_name, )

my_name = "Usman"

print(my_name)

print(my_name)

Rehan
Usman
Usman

### Input function
`input` is another python builtin function which is used to get input from user.
*Always remember that the data type of the data received from the user will always be `str`.*

In [ ]:
# input function
input()

asd;ljfsdf;lsdaf;lasdf'lkads

"asd;ljfsdf;lsdaf;lasdf'lkads"

In [ ]:
my_name : str = input("Please enter your name: ")
print("Output", my_name)

Please enter your name: Musa
Output Musa

## Operators in Python
### Arithematic Operators:
1- `+` Adding two numbers, or joining two strings

2- `-` Subtracting two numbers

3- `*` Multiplying two numbers

4- `/` Dividing two numbers

5- `**` Power of two numbers

6- `%` Modulus of two numbers

7- `//` Floor division of two numbers

In [ ]:
first_number : int = 45
second_number : int = 10

result = first_number + second_number
print(result)

55

In [ ]:
first_name : str = "Usman"
last_name : str = "Ashraf"

full_name = first_name +" "+ last_name
print(full_name)

Usman Ashraf

In [ ]:
print(9/4)

2.25

In [ ]:
print(9%4)

1

In [ ]:
print(13//4)

3

In [ ]:
first_number = input()
second_number = input()

result = first_number + second_number
print(result)

15
20
1520

In [ ]:
first_number = input()
print(type(first_number))
second_number = input()
print(type(second_number))

# result = first_number + second_number
# print(result)

15
<class 'str'>
20
<class 'str'>

In [ ]:
num1 = "4"
first_number = int(num1)
print(type(first_number))

# num2 = "5"
# print(num1 + num2)

<class 'int'>

## F-String

In [ ]:
first_name : str = "Usman"
last_name : str = "Ashraf"
age : int  = 65
print("My name is ", first_name, last_name,".", "My age is ", age)

My name is  Usman Ashraf My age is  65

In [ ]:
print(f"My name is {first_name} {last_name}. My age is {age}")

In [ ]:
name = "Rehan"
roll_number = "PIAIC234"
venue = "Main Auditorium"
schedule = "12:15 to 3:15"


print(f"Dear {name},")

print(f"You admission has been confirmed. Your roll number is {roll_number}.")

print(f"You class will be held in {venue} at {schedule}.")

Dear Rehan,
You admission has been confirmed. Your roll number is PIAIC234.
You class will be held in Main Auditorium at 12:15 to 3:15.

In [ ]:
print("Dear {}, You age is {}".format(name, age))

Dear rehan, You age is 65

In [ ]:
name = 'rehan'
name

'rehan'

In [ ]:
my_name : str = "Rehan"
print(my_name)

In [ ]:
user_name : str = "rehan"
user_age : int = int(input("Please enter your age: "))
print(user_name)

# print(user_age + user)


user_age = "rehan"