In [8]:
print("====================================")
print("          PIZZA PARADISE")
print("====================================")
print("Order #: 1")
print("Name:  Pepperoni")
print("Price:  350")
print("Delivery: 50 Rs")
print("Tip (10%):  35.0")
print("Total:  435.0")
print("====================================")
print("          PIZZA PARADISE")
print("====================================")
print("Order #: 2")
print("Name:  Veggie Supereme")
print("Price:  300")
print("Delivery: 50 Rs")
print("Tip (10%):  30.0")
print("Total:  380.0")
print("====================================")
print("          PIZZA PARADISE")
print("====================================")
print("Order #: 3")
print("Name:  Margherita")
print("Price:  250")
print("Delivery: 50 Rs")
print("Tip (10%):  25.0")
print("Total:  325.0")

====================================
          PIZZA PARADISE
====================================
Order #: 1
Name:  Pepperoni
Price:  350
Delivery: 50 Rs
Tip (10%):  35.0
Total:  435.0
====================================
          PIZZA PARADISE
====================================
Order #: 2
Name:  Veggie Supereme
Price:  300
Delivery: 50 Rs
Tip (10%):  30.0
Total:  380.0
====================================
          PIZZA PARADISE
====================================
Order #: 3
Name:  Margherita
Price:  250
Delivery: 50 Rs
Tip (10%):  25.0
Total:  325.0

In [9]:
orders = [
    {"order_no": 1, "name": "Pepperoni", "price": 350},
    {"order_no": 2, "name": "Veggie Supereme", "price": 300},
    {"order_no": 3, "name": "Margherita", "price": 250},
]

for order in orders:
    delivery = 50
    tip = order["price"] * 0.10
    total = order["price"] + delivery + tip

    print("====================================")
    print("          PIZZA PARADISE")
    print("====================================")
    print(f"Order #: {order['order_no']}")
    print(f"Name:  {order['name']}")
    print(f"Price:  {order['price']}")
    print(f"Delivery: {delivery} Rs")
    print(f"Tip (10%):  {tip}")
    print(f"Total:  {total}")

====================================
          PIZZA PARADISE
====================================
Order #: 1
Name:  Pepperoni
Price:  350
Delivery: 50 Rs
Tip (10%):  35.0
Total:  435.0
====================================
          PIZZA PARADISE
====================================
Order #: 2
Name:  Veggie Supereme
Price:  300
Delivery: 50 Rs
Tip (10%):  30.0
Total:  380.0
====================================
          PIZZA PARADISE
====================================
Order #: 3
Name:  Margherita
Price:  250
Delivery: 50 Rs
Tip (10%):  25.0
Total:  325.0

In [28]:
def print_order_summary(order_num, order_name, order_price, delivery_fee=50, tip_percent=10):
    tip = order_price * (tip_percent / 100)
    total = order_price + delivery_fee + tip

    print("====================================")
    print("          PIZZA PARADISE")
    print("====================================")
    print(f"Order #: {order_num}")
    print(f"Name:  {order_name}")
    print(f"Price:  {order_price}")
    print(f"Delivery: {delivery_fee} Rs")
    print(f"Tip ({tip_percent}%):  {tip:.1f}")
    print(f"Total:  {total:.1f}")

# Orders data
# orders = [
#     {"order_no": 1, "name": "Pepperoni", "price": 350},
#     {"order_no": 2, "name": "Veggie Supreme", "price": 300},
#     {"order_no": 3, "name": "Margherita", "price": 250},
# ]

# Function call
print_order_summary(1,"Pepperoni",300, delivery_fee=60, tip_percent=12)

====================================
          PIZZA PARADISE
====================================
Order #: 1
Name:  Pepperoni
Price:  300
Delivery: 60 Rs
Tip (12%):  36.0
Total:  396.0

In [17]:
def greet(name):
    print(f"Hello {name}")

In [18]:
result = greet("Rehan")
#            None

Hello Rehan

In [19]:
print(result)

None

In [14]:
greet("Musa")

Hello Musa

In [15]:
print("hdfa;dsfdsfj")

hdfa;dsfdsfj

1. Non-return function
2. Return function
3. Parameterless function
4. Parameterized function

In [24]:
def greet(name):
    # print(f"Hello {name}")
    # return f"Hello {name}"
    return 5000

In [26]:
result = greet("Musa")

In [27]:
print(result)

5000

In [29]:
def intro(name, gender):
    print(f"Hello {name}!. I am {gender}")

In [30]:
intro("Samia", "Female")

Hello Samia!. I am Female

In [31]:
intro("Female", "Samia")

Hello Female!. I am Samia

In [32]:
intro(gender="Female", name="Samia") #keyword arguments

Hello Samia!. I am Female

In [ ]:
# intro(name="Samia")

In [35]:
def intro2(name, gender="Female"):
    print(f"Hello {name}!. I am {gender}")

In [36]:
intro2(name="Samia")

Hello Samia!. I am Female

In [37]:
intro2("Usman", "Male")

Hello Usman!. I am Male

In [40]:
def intro3(name, gender="Female"):
    print(f"Hello {name}!. I am {gender}")

In [41]:
intro3("Samia")

Hello Samia!. I am Female

In [ ]:
intro3("Samia")

In [47]:
def add(*args):
    total = 0
    for num in args:
        total += num  # total = total + num
    return total

In [49]:
print(add(5, 6, 7, 8, 9, 5))

40

In [52]:
num_list = (3, 6, 6, 8, 9)


print(add(*num_list)) # list and tuple unpacking

32

In [55]:
def greet3(**kwargs):
    for k, v in kwargs.items():
        print(f"{k}: {v}")

In [56]:
greet3(name="rehan", gender="male", education='')

name: rehan
gender: male
education:

In [ ]:
def any_func(a, b, /, * , name, **kwargs):
    print(a)
    print(b)
    # print(args)
    print(kwargs)

In [ ]:
any_func(3,4, name="Rehan", gender="male")

In [63]:
#v1.0
def add3(alpha, /, b, c):
    return alpha + b + c

In [62]:
print(add3(4, b=3, c=7))

14

In [64]:
name = 'Musa' # global

def greet(n):
    name = "Usman" # local
    print(f"Inside function: {name}")

greet("Rehan")


print(f"Outside function: {name}")

Inside function: Usman
Outside function: Musa

In [65]:
name = [1, 2, 3] # global

def greet(n):
    name.append(6) # local
    print(f"Inside function: {name}")

greet("Rehan")


print(f"Outside function: {name}")

Inside function: [1, 2, 3, 6]
Outside function: [1, 2, 3, 6]

In [66]:
name = [1, 2, 3] # global

def greet1(n):
    name = [100, 200, 300]  # local
    name.append(6)
    print(f"Inside function: {name}")

greet1("Rehan")


print(f"Outside function: {name}")

Inside function: [100, 200, 300, 6]
Outside function: [1, 2, 3]

In [67]:
name = 'Musa' # global

def greet(n):
    global name
    name = "Usman"
    print(f"Inside function: {name}")

greet("Rehan")


print(f"Outside function: {name}")

Inside function: Usman
Outside function: Usman

In [ ]:
def outside():
    name =
    def inside():
        local name

In [70]:
x = 4
def outside_function():
    x = "I'm in the outside function"

    def inside_function():
        nonlocal x
        x = "I'm changed by the inside function"
        print(f"Inside: {x}")

    print(f"Outside before calling inside: {x}")
    inside_function()
    print(f"Outside after calling inside: {x}")

outside_function()
print(x)

Outside before calling inside: I'm in the outside function
Inside: I'm changed by the inside function
Outside after calling inside: I'm in the outside function
I'm changed by the inside function

In [81]:
def out_func():
    def in_func():
        global y
        y = 4
    print(y)

out_func()
print(y)

NameError: name 'y' is not defined