# **Comprehension in Python**
- List Comprehension
- Dictionary Comprehension
- Set Comprehension

**1. Simple Comprehension**  
`[expression for item in iterable]`

**2. Comprehension with filtering**  
`[expression for item in iterable if condition]`

**3. Comprehension with conditional expressions**  
`[value_if_true if expression else value_if_false for item in iterable]`

**4. Nested Comprehensions**  
`[expression for row in matrix for item in row]`

In [1]:
# Create a list of squares from 0 to 4 integers
squares = []
for x in range(0,5): # 0, 1, 2, 3, 4
    squares.append(x**2)

print(squares)

[0, 1, 4, 9, 16]

In [2]:
square_result = [x**2 for x in range(0,5)]
print(square_result)

[0, 1, 4, 9, 16]

In [ ]:
# [expression for item in iterable]
square1 = [x**2 for x in range(5)]
squre_comp = [x**2 for x in range(5)]
print(squre_comp)

[0, 1, 4, 9, 16]

In [4]:
names = ["Rehan", "AmMar", "mUSA"]

names_lower = []

for name in names:
    names_lower.append(name.lower())

print(names_lower)

['rehan', 'ammar', 'musa']

In [5]:
lower_case_names = [name.lower() for name in names]
print(lower_case_names)

['rehan', 'ammar', 'musa']

In [ ]:
names_lower_comp = [name.lower() for name in names]
print(names_lower_comp)

['rehan', 'ammar', 'musa']

Create a list of squares of even numbers from 1 to 10

In [ ]:
evens = []
for x in range(1, 11):
    if x % 2 == 0:
        evens.append(x**2)

print(evens)

[4, 16, 36, 64, 100]

In [7]:
even_com = [x**2 for x in range(1,11) if x % 2== 0]
print(even_com)

[4, 16, 36, 64, 100]

In [ ]:
even_squares_comp = [x**2 for x in range(1,11) if x % 2 == 0] #filtering
print(even_squares_comp)

[4, 16, 36, 64, 100]

In [ ]:
names = ["Rehan", "Ali", "Sara"]
upper_names = []
for n in names:
    upper_names.append(n.upper())


# Todo:

## Dictionary Comprehension

In [ ]:
# Create a dictionary for keys 0 to 1 and values would be sqaures of corresponding keys. {1:1, 2:4, 3:9}
squares = {}
for x in range(5): # x=0, 1
    squares[x] = x**2
    # squares [0] = 0 {0:0}
    # squares[1]=1    {0:0, 1:1}
    # squares[2]=4    {0:0, 1:1, 2:4}

print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [ ]:
squares_cmp = {x:x**2 for x in range(5)}  # expression --> key:value
print(squares_cmp)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [ ]:
squares_cmp_even = {100+x:x**2 for x in range(1,11) if x % 2== 0}  # expression --> key:value
print(squares_cmp_even)

{102: 4, 104: 16, 106: 36, 108: 64, 110: 100}

In [ ]:
names = ["Rehan", "Ali", "Sara"]

# Convert it to dictionary with key as names and values as length of name

trans_names = {name:len(name) for name in names if len(name) > 3}
print(trans_names)

{'Rehan': 5, 'Sara': 4}

## Set Comprehension

In [ ]:
nums = [1, 2, 2, 3, 3, 4]
unique_squares = set()
for n in nums:
    unique_squares.add(n**2)

In [ ]:
# Write a dictionary comprehension that takes this list of numbers and maps each even number to its square

nums = [1, 2, 3, 4, 5, 6]

## Nested Comprehension

In [ ]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

matrix = [
    [1, 2, 3], # Row1
    [4, 5, 6], # Row2
    [7, 8, 9]  # Row3
    ]

# for row in matrix:
#   for item in row:

flattened = []
for row in matrix:
    for num in row:
        flattened.append(num)

print(flattened)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
flattened_comp = [num for row in matrix for num in row if num % 2 == 0]
print(flattened_comp)

[2, 4, 6, 8]

In [ ]:
# Write a nested list comprehension that extracts only the even numbers from the same matrix.

## Conditional Expression inside Comprehension

In [ ]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
# if num is even, "odd", else "odd"

list_str = []
for row in matrix:
    for num in row:
        if num % 2 == 0:
            list_str.append("even")
        else:
            list_str.append("odd")

print(list_str)

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [ ]:
# ternary expression
new_list = ["even" if num % 2 == 0 else "odd" for row in matrix for num in row]
# new_list = ["even" if num % 2 == 0 else "odd" for row in matrix for num in row if num > 3]
print(new_list)

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [ ]:
# Write a list comprehension that replaces every number from 0–9 with "even" or "odd" depending on its parity.

In [ ]:
# Write a nested comprehension that creates a flat list of "even" or "odd" strings for each number in the matrix.
()

In [8]:
num_list = [1,2,3,4,5,6,7,8,9,10]

new_list = []

for num in num_list:
    if num % 2 == 0:
        new_list.append("even")
    else:
        new_list.append("odd")

print(new_list)

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [ ]:
list_cmp = ["even" if num % 2 == 0 else "odd" for num in num_list]
print(list_cmp)

In [ ]:
# ternary operator
# "even" if num % 2 == 0 else "odd"
num = 4
if num % 2 == 0:
    print("even")
else:
    print("odd")